#picture {
    background-color: white;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
    border: 1px solid black;
    box-shadow: 0 0 2px 2px black;
}
.max-size {
    width: 95vw;
    height: 95vh;
}
.submit-button {
    height: 3em;
    background-color: gainsboro;
    border: none;
    border-radius: 1.5em;
}
.submit-button:hover {
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 0 1px 1px black;
}
.fit-picture {
    height:fit-content;
    width: fit-content;
}
p {
    display: inline-block;
    margin: 0;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 15vw;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
body {
    background-color: grey;
    color: ghostwhite;
}
